<h1> Welcome to Yelp Restaurants!</h1>
<ul>
  <% @restaurants.each do |restaurant|  %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant)%> -
    <%= restaurant.category.capitalize %> -
    <%= link_to edit_restaurant_path(restaurant.id) do %>
    <i class="fas fa-edit"></i>
    <% end %> -
    <%= link_to restaurant_path(restaurant.id), method: :delete, data: { confirm: "Sure?" } do  %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
  </li>
  <% end %>
</ul>
<p><%= link_to "Add a restaurant", new_restaurant_path %></p>



